.card-custom {
  max-width: 400px;
  margin: auto;
}

.form-control-custom {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.btn-custom {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.card {
  background: #e1e6e8;
  }

.btn{
  background: #333;
  color: #fff;
}
